::-webkit-scrollbar-thumb {
    background: #6681ca !important;
}


/* ################### NAVIGATION ################### */


/* CONNECT BUTTON NAVBAR */

.dhDVxu {
    background-color: #6681ca !important;
    color: white !important;
}

.gsYCjw {
    background-color: #6681ca !important;
}


/* SIGNED IN NAVBAR */

.HCLXF,
.hAGTjY {
    color: #6681ca !important;
    border: 1px solid #6681ca !important;
}


/* SIDEBAR TEXT COLOR*/

.eggwsi,
.hjAkKF,
.LzgUp {
    color: black !important;
}

.bezuWY,
.drVPzO {
    box-shadow: inset 4px 0px 0px #6681ca !important;
}


/* SVG ICONS */

.hZpnTq,
.fAKPah,
.fWxabH,
.iuuYre,
.hpuBxl {
    fill: #6681ca !important;
}

.eZBOSY {
    fill: black !important;
}


/* NAVBAR ICON*/

.desktop-icon {
    /*display: none !important;*/
}


/* SIDEBAR BACKGROUND */

.jeBXNn,
.IKLJT {
    background: #F0F0F0 !important;
}


/* SIDEBAR HOVER ITEMS */

.bezuWY:hover,
.ctEzcz:hover {
    background: white !important;
}

.iOwBrq,
.cNgHew,
.beKuKt,
.fNcMno {
    color: #6681ca !important;
}

.desktop-icon,
.mobile-icon {
    display: none !important;
    visibility: hidden !important;
}

.custom-nav {
    position: absolute;
    z-index: 999;
    top: 4px;
    left: 80px;
    height: 50px;
}


/* ______________________________________________ */


/* ################### MODALS ################### */


/* MODAL BACKGROUND */

.hrMCMo {
    background-color: #ffb380 !important;
}


/* ______________________________________________ */


/* ################### HOME PAGE ################### */

.kGRawD,
.w-50 {
    width: 50%;
}

@media (max-width: 768px) {
    .w-50 {
        width: 70%;
    }
}

.walletRightMargin {
    margin-right: 20px;
}

.walletRightMarginx2 {
    margin-right: 50px;
}

.walletTopMargin {
    margin-top: 10px;
}


/* ______________________________________________ */


/* ################### Emotion Pool ################### */

.hZwSWH {
    min-height: 100px !important;
}

.frtRco,
.iTStsT,
.bRnxSN,
.fCgNnY,
.TVaJS {
    color: #6681ca !important;
}

.iZWtlA {
    background: #6681ca !important;
}

.klHDWa {
    color: #6681ca !important;
}

.eihoAV {
    fill: #6681ca !important;
}

.custom-height {
    height: 30px;
}


/* ______________________________________________ */


/* ################### Exchanges ################### */

.exchangeImage {
    min-width: 80%;
    max-height: 72px;
}


/* ______________________________________________ */

@media only screen and (max-width: 600px) {
    .gc4 {
        grid-column: span 8 !important;
    }
}